.Conjugation {

    padding: 0;

    .easy {
        background-color: rgb(230, 255, 230);
    }
    .moderate {
        background-color: rgb(255, 255, 230);
    }
    .difficult {
        background-color: rgb(255, 230, 230);
    }
    .sentence-item {
        padding: 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 0.4em;
    }
    .tags {
        margin-bottom: 0.3em !important;
    }
    .tag-text {
       padding-left: 0.1em;
       text-transform: capitalize;
    }
    .fake-link {
        cursor: pointer;
    }
    .no-results {
        opacity: 0.6;
    }
    .report-button {
        cursor: pointer;
        opacity: 0.8;
        width: 2em;
        height: 2em;
    }
    .report-button:hover {
        opacity: 1;
    }
    .tag-columns {
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;

        .column {
            padding-bottom: 0 !important;
        }

        .report-col {
            margin-left: auto;
        }
    }

    .word-info {
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .word-type {
        margin-left: auto;

        .subtitle {
            font-size: 1rem !important;
        }
    }

    @media (max-width: 425px) {
        .word-type {
            font-size: 0.7rem !important;

            .subtitle {
                font-size: 0.8rem !important;
            }
        }
    }
}

.has-border {
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }
