
$section-padding: 3rem 16rem;
//$box-shadow: 0;

.select {
    margin-right: 0.5em;
}

.mid-section {
    padding-top: 0 !important;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fafafa !important;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.site-header {
    color: #3273dc !important;
}

.about-p {
    padding-bottom: 1.8em;
}

.head-icon {
    margin-right: 0.3em;
    color: #3273dc;
}

@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/_all.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/_all.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "./node_modules/bulma-tooltip/src/sass/index.sass";

h3 {
    margin-bottom: 0.5em !important;
}

a:hover {
    color: #3273dc !important;
}

.github-logo {
    opacity: 0.7;
    width: 25px;
    height: 25px;
}

.load-screen {
   display: block !important;
}

.is-checkradio[type=checkbox].is-info:checked + label::after, .is-checkradio[type=checkbox].is-info:checked + label:after {
    border-color: #3273dc !important;
}
