
$section-padding: 3rem 16rem;
$box-radius: 0;

.select {
    margin-right: 0.5em;
}

.mid-section {
    padding: 3rem 12rem !important;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fafafa !important;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.site-header {
    color: #3273dc !important;
}

.about-p {
    padding-bottom: 1.8em;
}

.head-icon {
    margin-right: 0.3em;
    color: #3273dc;
}

@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/_all.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/_all.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "./node_modules/bulma-tooltip/src/sass/index.sass";

h3 {
    margin-bottom: 0.5em !important;
}

a:hover {
    color: #3273dc !important;
}

.fake-link {
    color: #3273dc;
    cursor: pointer;
}

.github-logo {
    opacity: 0.7;
    width: 25px;
    height: 25px;
}

.is-checkradio[type=checkbox].is-info:checked + label::after, .is-checkradio[type=checkbox].is-info:checked + label:after {
    border-color: #3273dc !important;
}

.tooltip.is-tooltip-multiline::before {
  white-space: pre-line !important;
  width: 23em;
}

.load-screen {
    display: block !important;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
   padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
    width: 100%;
    padding: 0.6em;
    height: 2.5rem;
    position: absolute;
    bottom: 0;

    .footer-text {
        opacity: 0.7;
    }
}

.translation {
    opacity: 0.8;
}

.see-translation {
    font-size: 0.9em;
    opacity: 0.9;
}

.caret {
    padding-left: 0.5em;
    padding-top: 0.1em;
    color: #3273dc;
}

.word-caret {
    display: flex;
    align-items: center;
    color: black;
}
