voca/voca/.env
.DS_Store
.idea/
voca/db.sqlite3
voca/data_processing_ml/
voca/data/scraper/
voca/data/de/
voca/data/en/
voca/data/es/
voca/data/fr/
voca/data/it/
voca/data/nl/
voca/data/add_to_model/__pycache__/
voca/data/__pycache__/
voca/sentences/__pycache__/
voca/voca/__pycache__/
voca/voca_web/__pycache__/
voca/sentences/migrations/__pycache__/
voca/voca_web/migrations/__pycache__/
fe-components/word-search/.cache
fe-components/word-search/dist
fe-components/word-search/node_modules
