.Conjugations {

    .less-padding {
        padding: 0.1em;
    }

    .group {
        position: relative;
        padding-top: 2.5em;
    }

    .group-head {
        display: flex;
        align-items: center;
        height: 2.5em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0em 1em;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-weight: bold;
    }

    .group-head-meta {
        padding-left: 0.5em;
        font-weight: normal;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}
