.ButtonTray {
    .buttons-container {
        display: flex;
        align-items: center;
    }

    @media (max-width: 425px) {
        .buttons-container:not(.is-small) {
            flex-wrap: wrap !important;
            justify-content: space-between;

            .select, select {
                width: 100%;
                margin-bottom: 0.5em;
            }
        }
    }
}
