{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item site-header is-info" href="/">
            <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            <b>Voca</b>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/about">
                About
            </a>

            <a class="navbar-item" href="/languages">
                Languages
            </a>

            <a class="navbar-item" href="/contact">
                Contact
            </a>

            <!--<div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>-->
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-text-grey">
                {% block version_info %}
                v{{ version }}
                {% endblock %}
            </div>
            <div class="navbar-item" style="padding-left: 0.2em;">
                <a href="https://github.com/Buroni/voca" target="_blank">
                    <img src="{% static 'github.png' %}" class="github-logo"/>
                </a>
            </div>
        </div>

        <!--<div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-info">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>-->
    </div>
</nav>

{% block main_content %}
{% endblock main_content %}

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{% static 'base.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% block js %}
{% endblock js %}
