{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Vocabin
        {% endblock title %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    {% block seo_meta %}
    {% endblock seo_meta %}
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-133313494-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>

<body>
    <div class="load-screen" id="load-screen" style="display: none;">
        <div class="content-wrap">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item site-header is-info" href="/">
                        <img src="{% static 'vocabin-1.svg' %%}" style="padding-right: 0.5em;"/>
                        <b>Vocabin</b>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/about">
                            About
                        </a>

                        <a class="navbar-item" href="/languages">
                            Languages
                        </a>

                        <a class="navbar-item" href="/contact">
                            Contact
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item has-text-grey">
                            {% block version_info %}
                                v{{ version }}
                            {% endblock version_info %}
                        </div>
                        <div class="navbar-item" style="padding-left: 0.2em;">
                            <a href="https://github.com/Buroni/vocabin" target="_blank">
                                <img src="{% static 'github.png' %}" class="github-logo"/>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>

            <div style="padding-top: 0; margin-top: 0; flex: 1 1 auto;">
                {% block fe_component %}
                {% endblock fe_component %}
            </div>

            <div>
                {% block main_content %}
                {% endblock main_content %}
            </div>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p class="footer-text">
                    Source code licensed under
                    <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>
                    <span style="padding: 0 0.5em">•</span>
                    <a href="/tos" target="_blank">Terms of Use</a>
                    <span style="padding: 0 0.5em">•</span>
                    <a href="/privacy" target="_blank">Privacy Policy</a>
                </p>
            </div>
        </footer>
        </div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'base.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block js %}
    {% endblock js %}
</body>
</html>
