{% extends "voca_web/base.html" %}
{% load static %}

{% block seo_meta %}
    <meta name="description" content="Vocabin is a data-driven language-learning tool that helps you learn to use new words.">
    <link rel="canonical" href="https://vocabin.net" />
{% endblock seo_meta %}

{% block fe_component %}
    <form style="margin: 0; padding: 0;">{% csrf_token %}</form>
    <div id="app"></div>
{% endblock fe_component %}

{% block js %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
{% endblock js %}
